* {
  margin: 0;
  padding: 0;
}
p {
  margin-bottom: 0;
}

.App {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: scroll;
}
.container {
  width: 90%;
  max-width: 500px;
  height: 100%;
}
.mt-5 {
  margin-top: 1rem;
}
.w-100 {
  width: 100%;
}
.font-bold {
  font-weight: bold;
}
.login-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}
.logo-login {
  text-align: center;
  margin-bottom: 3rem;
}
.login-forget-align div .ant-form-item-control-input-content {
  display: flex;
  justify-content: space-between;
}
.people-card {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #dcdcdc;
  padding: 1rem 0;
  justify-content: space-between;
  position: relative;
  width: 100%;
}
.people-card:last-child {
  border-bottom: none;
}
.people-image {
  display: flex;
}
.people-image img {
  border-radius: 25px;
  width: 48px;
}
.people-detailes {
  margin-left: 1rem;
}

.header {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.users-list {
  padding-bottom: 4rem;
}
.filter {
  margin: 2rem 0;
  display: flex;
  overflow: scroll;
}

.filter::-webkit-scrollbar {
  display: none;
}
.filter {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.filter-item {
  background-color: #ececec;
  padding: 5px 10px;
  border-radius: 10px;
  margin-right: 10px;
}
.filter-selected {
  background-color: #cecece;
}

.menu-sticky {
  bottom: 0;
  position: fixed;
  width: 100%;
  max-width: 500px;
  display: flex;
  justify-content: space-around;
  background-color: #ececec;
  padding: 20px 0;
  border-radius: 20px 20px 0 0;
  z-index: 99;
}
@media screen and (max-width: 500px) {
  .menu-sticky {
    left: 0;
  }
}
.delete-swap {
  display: flex;
  align-items: center;
  z-index: 999999;
  transition: 0.3s;
}
span.delete {
  padding-right: 10px;
  display: none;
}
